services:
  raqibmqtt:
    image: eclipse-mosquitto:2
    container_name: mqtt
    ports:
      - "1883:1883"
    volumes:
    - ./.container/mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro

    restart: unless-stopped

  raqibapi:
    image: raqib-api:latest
    build:
      context: ./src/VeterinaryApi
      dockerfile: Dockerfile
    env_file:
       - ./.env
    
    ports:
      - "8080:8080"
      - "7256:7256"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: "https://+:7256;http://+:8080"
      ASPNETCORE_Kestrel__Certificates__Default__Path: /app/certificates/aspnetapp.pfx
      ASPNETCORE_Kestrel__Certificates__Default__Password: "2501"
    volumes:
      - ${HOME}/.aspnet/https:/https/:ro
      - ./src/VeterinaryApi/.env:/app/.env:ro

  raqib.database:
    image: postgres:latest
    environment:
    - POSTGRES_DB=raqib_db
    - POSTGRES_USER=raqib_user
    - POSTGRES_PASSWORD=2501
    volumes:
      - raqib-db-data:/var/lib/postgresql
    restart: unless-stopped
    ports:
      - "5432:5432"
 
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: billelmh501@gmail.com
      PGADMIN_DEFAULT_PASSWORD: billel501
    ports:
      - "5050:80"
    depends_on:
      - raqib.database

volumes:
  raqib-db-data:
