services:
  raqib-api:
    image: raqib-api:latest
    build:
      context: ./src/VeterinaryApi
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - "8080:8080"
      - "7256:7256"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: "https://+:7256;http://+:8080"
      ASPNETCORE_Kestrel__Certificates__Default__Path: /app/certificates/aspnetapp.pfx
      ASPNETCORE_Kestrel__Certificates__Default__Password: "2501"
    volumes:
      - ${HOME}/.aspnet/https:/https/:ro
      - ./src/VeterinaryApi/.env:/app/.env:ro
    depends_on:
      - raqib-database

  raqib-database:
    image: postgres:latest
    environment:
      - POSTGRES_DB=raqib_db
      - POSTGRES_USER=raqib_user
      - POSTGRES_PASSWORD=2501
    volumes:
      - raqib-db-data:/var/lib/postgresql
    restart: unless-stopped
    ports:
      - "5432:5432"

  raqib-mqtt:
    image: eclipse-mosquitto:2
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./.container/mosquitto/config:/mosquitto/config:ro
      - ./.container/mosquitto/data:/mosquitto/data
      - ./.container/mosquitto/log:/mosquitto/log

  raqib-pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: billelmh501@gmail.com
      PGADMIN_DEFAULT_PASSWORD: billel501
    ports:
      - "5050:80"
    depends_on:
      - raqib-database

volumes:
  raqib-db-data:
